.header {
    text-align: center;
    padding-top: 15px;
    font-family: Rockwell;
}

.socials {
    text-align: right;
    margin-right: 35px;
}

.follow-here{
    font-size: 30px;
    font-family: Rockwell;
}

.about-me-header {
    margin-left: 10px;
    font-family: Rockwell;
}

.about-me {
    font-size: 24px;
    font-family: Rockwell;
    padding: 25px;
    border-radius: 15px;
    background-color: rgba(17, 153, 216, 0.918);
}

.gh-commits {
    text-align: center;
}

.commits-header {
    font-family: Rockwell;
}

.projects {
    /* margin-left: 35px; */
    font-family: Rockwell;
}

.blue-project {
    font-family: Rockwell;
    font-size: 14px;
    padding: 25px;
    border-radius: 15px;
    background-color: rgba(17, 153, 216, 0.918);
}

.white-project {
    font-family: Rockwell;
    font-size: 24px;
    padding: 25px;
}

.project-desc {
    font-family: Rockwell;
    font-size: 24px;
}

.work-experience {
    padding: 25px;
    margin-left: 25px;
    font-family: Rockwell;
}


#projects-header {
    margin-left: 15px;
    font-family: Rockwell;
}

#work-header {
    padding: 25px;
    margin-left: 15px;
    font-family: Rockwell;
}

#skills {
    font-family: Rockwell;
    text-align: center;
}

.skills-tech {
    text-align: center;
    padding: 30px;
}