.wrapper {
    background-color: lightgray;
    padding: 0px;
    margin: 0px;
}

.header {
    text-align: center;
    padding-top: 15px;
    font-family: Rockwell;
}

.socials {
    text-align: right;
    margin-right: 35px;
}

.follow-here{
    font-size: 30px;
    font-family: Rockwell;
}

.about-me-header {
    margin-left: 10px;
    font-family: Rockwell;
}

.about-me {
    font-family: Rockwell;
    font-size: 24px;
    margin-left: 35px;
}

.gh-commits {
    text-align: center;
}

.commits-header {
    font-family: Rockwell;
}

.projects {
    margin-left: 35px;
    font-family: Rockwell;
}

.work-experience {
    margin-left: 25px;
    font-family: Rockwell;
}


#projects-header {
    margin-left: 15px;
    font-family: Rockwell;
    color: green;
}

#work-header {
    font-family: Rockwell;
}

#skills {
    font-family: Rockwell;
    text-align: center;
}

.skills-tech {
    text-align: center;
    padding: 30px;
}

h1 {
    font-family: Rockwell;   
}

p {
    font-family: Rockwell;
    font-size: 24px;
}

