.header {
    text-align: center;
    padding-top: 15px;
}

.about-me {
    font-size: 23px;
    padding: 25px;
}

.projects {
    margin-left: 25px;
}

.work-experience {
    margin-left: 25px;
}

#projects-header {
    margin-left: 15px;
}

#work-header {
    margin-left: 15px;
}