<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Home</title>
</head>
<body>
    {% load static %}
    <div class="container">
        <h1 class="header">Welcome to juanrenteria.net! 
        <br>
        Take a look at some of my projects</h1>
        <div class="socials">
            <span class="follow-here">Follow Me Here --></span>
            <a href="https://www.linkedin.com/in/jer96/">
                <img src="static/images/linkedin_24.png" alt="linkedin_24" height="32px">
            </a>
            <a href="https://github.com/jerenteria">
                <img src="static/images/github_logo.png" alt="linkedin_24" height="32px">
            </a>
        </div>
        <h1 class="about-me-header">About Me!</h1>
        <p class="about-me">Hello my name is Juan E Renteria and I am currently located in the Bay Area. I am a Coding Dojo bootcamp graduate looking for
        my first developer role. I enjoy learning new technologies and solving problems. I currently code everyday to better my skills
        whether it is creating projects or solving coding questions on leetcode. On my free time I like to watch podcasts and play video
        games. Feel free to hang around and check out some of my projects.
        </p>
        <div class="gh-commits">
            <h1 class="commits-header">Check out my commits over the past couple months!</h1>
            <img src="static/images/github_commits.jpg" alt="gh_commits" height="450px">
        </div>
        <h1 id="projects-header">Projects</h1>
        <div class="projects">
            <div class="blue-project">
                <h2><a href="https://juan-nasa-api.herokuapp.com">NASA API</a></h2>
                <p class="project-desc">This app uses a authorized API token from nasa allowing to fetch data about
                important space news. Data is received in json format but presented clearly for a better user experience
                </p>
            </div>
            <div class="white-project">
                <h2><a href="https://juan-ig-clone.herokuapp.com">INSTAGRAM CLONE</a></h2>
                <p class="project-desc">App was created using Python. Users can login and regiseter. After logging in 
                    users will be greeted with their custom user name and are able to upload pictures and post them on 
                    their timeline.
                </p>
            </div>
            <div class="blue-project">
                <h2><a href="https://github.com/jerenteria/price_checker">PRICE CHECKER</a></h2>
                <p class="project-desc">Witht the help of BeautifulSoup4 I was able to parse HTML elements and print the 
                    the current price of an object in the terminal.
                </p>
            </div>
            <div class="white-project">
                <h2><a href="https://github.com/jerenteria/selenium_scraper">SELENIUM SCRAPER</a></h2>
                <p class="project-desc">Selenium allowed me to scrape the internet and go into amazon and purchase any product 
                    within a matter of seconds. Selenium is very helpful because it looks for certain HTML elements is faster 
                    at navigating pages than humans!
                </p>
            </div>
            <div class="blue-project">
                <h2><a href="https://github.com/jerenteria/random_guessing_game">RANDOM GUESSING GAME</a></h2>
                <p class="project-desc">Using python, I was able to code a game where the user inputs range between two numbers
                then has to guess which number the game is thinking of. The game stores and later returns the total number of tries
                it took the user to guess the correct number. 
                </p>
            </div>
            <div class="white-project">
                <h2><a href="https://github.com/jerenteria/first_react_project">TO DO LIST USING REACT</a></h2>
                <p class="project-desc">REACT buil app to keep track of your to do list. Reusing  REACT components is what makes 
                    REACT special because you dont have to rebiult something from scratch, you can just reuse your code thats the beauty
                    of JavaScript!
                </p>
            </div>
            <div class="blue-project">
                <h2><a href="https://github.com/jerenteria/music_room">MUSIC ROOM</a></h2>
                <p class="project-desc">Music Room was built with a REACT front end and Python backend. Users are allowed to connect
                    their spotify account using Spotify API, connect their playlists, and listen together!
                </p>
            </div>
            <div class="white-project">
                <h2><a href="https://github.com/jerenteria/terminal_game">Speed Typing Game</a></h2>
                <p class="project-desc">This Python app was created to test your typing skills. Using your terminal the game reads 
                    random sentences from an external .txt file and you have to type as fast as you can. At the end your WPM
                    is diplayed in your terminal.
                </p>
            </div>
        </div>
        <h1 id="work-header">Work Experience</h1>
        <div class="work-experience">
            <h2>JR SERVICES</h2>
        </div>
        <div class="education">
            
        </div>
    </div>
</body>
</html>